@tailwind base;
@tailwind components;
@tailwind utilities;



.button-style {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.8rem 2rem;
  box-shadow: 10px 10px 0px 0px,10px 10px 0px 0px, 10px 10px 0px 0px, 10px 10px 0px 0px, 10px 10px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: start;
  text-align: center;
}

.button-style:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button-style:hover {
  background: rgba(255, 255, 255, 0.8);
}
